
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 1px;
  }
  .card #name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .card #concept {
    color: #bf0811;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .card #isopen {
    font-weight: bold;
    margin-top: 15px;
  }
  
  .card #time {
    margin-top: 0px;
  }
  
  .innercard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .innercard .incbutton {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .incbutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .innercard .incbutton-active {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .innertimecard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }